<div class="reg-container">

    <form class="reg-form" [formGroup]="loginForm" (submit)='onSubmit(loginForm)'>
        <h4>Enter User Details !!!</h4>
        <mat-form-field>
            <input class="userId" matInput [formControl]='userId' placeholder="Enter User ID">
            <mat-error *ngIf="loginForm.get('userId').dirty && loginForm.get('userId').hasError('required')">userId Cannot be blank !!!</mat-error>
            <mat-error *ngIf="loginForm.get('userId').dirty && loginForm.get('userId').hasError('minlength')">userId Cannot be less than 3 characters !!!</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input class="firstName" matInput [formControl]='firstName' placeholder="Enter Firstname">
        </mat-form-field>

        <mat-form-field>
            <input class="lastName" matInput [formControl]='lastName' placeholder="Enter Lastname">
        </mat-form-field>

        <mat-form-field>
            <input class="userRole" matInput [formControl]='userRole' placeholder="Enter User role">
        </mat-form-field>

        <mat-form-field>
            <input class="password" matInput type='password' [formControl]='password' placeholder="Enter Password">
            <mat-error *ngIf="loginForm.get('password').dirty && loginForm.get('password').hasError('required')">Password Cannot be blank !!!</mat-error>
            <mat-error *ngIf="loginForm.get('password').dirty && loginForm.get('password').hasError('minlength')">Password Cannot be less than 3 characters !!!</mat-error>
        </mat-form-field>
        <button type="submit" style="margin-right: 8px;" mat-button color="primary">Submit</button><br/>
        <button style="margin-right: 8px;" mat-button color="primary" (click)="onLogin()">Back to Login</button>
        <mat-error *ngIf='submitMessage' class="error-message">{{submitMessage}}</mat-error>

    </form>
    <label class="errorMessage" >{{errorMessage}}</label>
</div>